@model  SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var p in Model.Products)
{
    Html.RenderPartial("ProductSummary", p);
}
<div class="paper">@Html.PageLinks(Model.pagingInfo, x => Url.Action("List", new { Page=x}))</div>